.prices-header{
  background-color: #eee;
  border-radius: 10px;
  margin: 20px 0 !important; 
  cursor: pointer;
}

.prices-header-element-active{
  background-color: #00838f;
  color: white !important;
}

.plan-card{
  height: 300px !important;
}

.plan-header, .plan-footer{
  background-color: #00838f !important;
  color: white;
}

hr{
  border: none;
  border-top: 2px dashed #ddd;
  width: 80%;
  margin: 20px auto;
}

.plan-trial{
  color: #ff5722;
  border: 1px solid #ff5722 !important;
  border-radius: 2px;
  cursor: pointer;
}

.plan-trial-active{
  background-color: #ff5722 !important;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.offline{
  height: 100vh;
  width: 100vw;
  background-color: #00838f;
}

.offline h3{
  font-weight: 700;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 1px;
}